@font-face {
    font-family: 'PoppinsMedium';
    src: url('../fonts/Poppins-Medium.otf');
}

@font-face {
    font-family: 'PoppinsRegular';
    src: url('../fonts/Poppins-Regular.otf');
}

:root {
    --color-background: #fffdf7;
    --color-black: #212121;
    --color-text: #4f4f4f;
    --color-text-out: #908f8e;
    --color-primary: #ffbf00;
    --color-primary-out: #ffda6f;
    --color-secondary: #fff2cc;
    --color-white: #ffffff;
    --color-red: #e74c3c;
    --color-green: #2ecc71;
    --color-separate: #cccccc;
    --color-input-out: #ececec;
    --box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}


html,
body {
    font-family: 'PoppinsRegular', 'Rubik', 'sans-serif';
    background-color: var(--color-background);
    color: var(--color-text);
    font-size: 16px;

}

b {
    font-family: 'PoppinsMedium', 'Rubik', 'sans-serif';
}

.hidden {
    display: none !important;
}


.pr-0 {
    padding-right: 0px !important;
}
.bg-top {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 110px;
    background-color: var(--color-secondary);
}

.width-fix {
    /* This is used to centralize all class that uses this*/
    width: calc(100% - 20px);
    margin: 0px auto;

}

.card {
    border-radius: 20px;
    padding: 15px 20px;
    font-size: 20px;
    box-shadow: var(--box-shadow) !important;
    border: none !important;
}

.container-img {
    width: 60px;
    height: 60px;
    background-image: url('../img/logo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 20px;
    border-radius: 20px;
}

.infos {
    /* above hare, the "flex:1" means that will take all of the space that is left inside the card. */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.infos h1 {
    font-size: 18px;
    margin-bottom: 5px;
    color: var(--color-black);

}


.infos-sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status-open {
    font-size: 18px;
    color: var(--color-green);
    margin-bottom: 0px;
}

.status-open.closed {
    color: var(--color-red);
}

.link {
    text-decoration: none;
    font-size: 14px;
    color: var(--color-primary) !important;
}

section.categoria {
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 100;
    background: var(--color-background);
    width: 100%;
    padding-top: 15px;
}

.container-menu {
    margin-bottom: 30px;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;

}

.container-menu::-webkit-scrollbar {
    width: 0;
    height: 0;
}


.item-categoria {
    flex: none;

}

.btn-white {
    color: var(--color-black);
    background-color: var(--color-white);
    border-radius: 20px;
    padding: 15px 25px;
    font-size: 20px;
    box-shadow: var(--box-shadow)!important;
}

.btn-yellow {
    border: none !important;
    color: var(--color-black) !important;
    border-radius: 25px;
    padding: 15px 25px;
    background-color: var(--color-primary);
    box-shadow: var(--box-shadow);
}

.btn-sm {
    padding: 8px 13px;
    border-radius: 15px;
    font-size: 16px;
}

.btn-white:hover,
.btn-white.active {
    background-color: var(--color-primary);


}


.title-categoria {
    color: var(--color-black);
    margin-left: 15px;

}

.container-group .card {
    padding: 15px;
    /* fazer isso para descolar o card do topo*/
    cursor: pointer;
    /* Para transformar o cursor em maozinha*/
}

/* .item-cardapio {
    padding: 15px;  THIS IS THE SAME THING THAT MADE THE .container-group .card
    cursor: pointer;
} */

.container-img-produto {
    width: 100px;
    /* Para definir a largura da imagem*/
    height: 100px;
    /* Para definir a altura da imagem*/
    background-repeat: no-repeat;
    /* para nao ficar um monte de quadradinhos*/
    background-position: center;
    /* para centralizar a imagem */
    background-color: var(--color-secondary);
    /* Se nao carregar a img, ter uma cor de fundo*/
    border-radius: 15px;
    /*  para arredondar as bordas*/
    margin-right: 20px
        /* para descolar a img do texto*/
    ;
    flex: none
        /*Pra nao pegar nenhuma propriedade do flex*/
    ;
}

.infos-produto {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infos-produto .name {
    font-size: 18px;
    color: var(--color-black);
    margin-bottom: 0px;
    /*tags P ja tem margin bottom padrao*/
}


.infos-produto .description {
    font-size: 14px;
    color: var(--color-text);
    margin-bottom: 5px;
}


.infos-produto .price {
    font-size: 16px;
    color: var(--color-primary);
    margin-bottom: 0px;
}


.menu-bottom {
    position: fixed;
    /* When roll the screen, keep in the same spot*/
    right: 0;
    left: 0;
    bottom: 10px;
    width: calc(100% - 20px);
    max-width: 800px;
    margin: 0 auto;
    border-radius: 50px;
    padding: 5px;
    font-size: 20px;
    box-shadow: var(--box-shadow);
    background-color: var(--color-secondary);
    border: 1px solid #ffe28c;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-bottom-item {
    text-decoration: none !important;
    color: var(--color-text-out) Impo !important;
    font-size: 14px;
    flex: 1;
    text-align: center;
    padding: 12px 15px;
}

.menu-bottom-item.active {
    color: var(--color-black) !important;
    font-weight: bold;
    box-shadow: var(--box-shadow);
    border-radius: 50px;
    background-color: var(--color-primary);
}

.badge-total-carrinho {
    width: 21px;
    height: 21px;
    background-color: var(--color-primary);
    border-radius: 50px;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    position: relative;
    padding-top: 2px;
    margin-right: 2px;
}

.menu-bottom.disable {
    justify-content: center;
    padding: 15px;
    font-size: 20px;
    /* color: var(--color-text-out); */
}












/*  DETAILS OF THE PRODUCT  */










.bg-top.details {
    height: 410px;

}

.container-voltar {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;
    font-size: 18px;
    color: var(--color-black) !important;
}

.container-img-produto-details {
    height: 210px;
    width: 100%;
    /* This means 100% of the card*/
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    /* To position the img inside*/
    border-radius: 20px;
    margin: 0 auto;
    background-color: var(--color-secondary);
    margin-bottom: 20px;
}

.sub-title-categoria {
    color: var(--color-text);
    margin-left: 5px;
    font-size: 14px;
}

.card-opcionais {
    display: flex;
    flex-direction: row;

}

.infos-produtos-opcional {
    flex: 1;
    /* To recive all the context in the line*/
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.infos-produtos-opcional .name,
.infos-produtos-opcional .price {
    color: var(--color-black);
}

.opcionais .badge {
    float: right;
    background-color: var(--color-secondary);
    padding: 5px;
    color: var(--color-black);
    font-size: 14px;
}

.checks {
    margin-left: 10px;

}

.container-check {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    /*Curson with a hand*/
    font-size: 22px;
    user-select: none;
    /*Not me marked around when click*/
    -webkit-user-select: none;
    /*To android browser*/
    -moz-user-select: none;
    /*To a mozila browser*/
}

.container-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: -2px;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 50px;
    background-color: var(--color-input-out);
}

.container-check:hover input~.checkmark {
    background-color: var(--color-text-out);
}

.container-check input:checked~.checkmark {
    background-color: var(--color-primary);
}

.checkmark::after {
    content: "";
    position: absolute;
    display: none;
}

.container-check input:checked~.checkmark::after {
    display: block;
}

.container-check .checkmark::after {
    left: 9px;
    top: 7px;
    width: 6px;
    height: 10px;
    border: solid var(--color-white);
    transform: rotate(45deg);
    -webkit-transform: rotate(45dg);
    -ms-transform: rotate(45deg);
    border-width: 0 3px 3px 0;
}

.form-control {
    background-color: var(--color-white);
    color: var(--color-black) !important;
    border-radius: 20px;
    padding: 15px 25px;
    font-size: 16px;
    box-shadow: var(--box-shadow) !important;
    border: none !important;

}

.textarea {
    height: 150px !important;
}

.menu-bottom.details {
    justify-content: space-between;
    padding: 8px 15px;

}

.add-carrinho {
    display: flex;
    align-items: center;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.btn-menos,
.btn-mais {
    color: var(--color-black);
    padding: 8px 12px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    background-color: var(--color-primary-out);
}

.add-numero-itens {
    color: var(--color-black);
    padding: 2px 15px;
    border-radius: 10px;
    font-size: 18px;
}


.infos-sobre {
    color: var(--color-black);
    display: flex;
    font-size: 16px;
    flex-direction: column;
    justify-content: center;
}

/* Defining "Sobre a Pizzaria"*/

.bg-top.sobre {
    height: 200px;
}

.title-sobre {
    margin-bottom: 20px!important;
    margin-top: 5px;
    margin-right: 100px;
    
}

.sobre {
    font-size: 14px;
    color: var(--color-text);
}

.container-img-sobre {
    position: absolute;
    right: 20px;
    margin-top: -50px;
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--color-white);
    border-radius: 15px;
    box-shadow: var(--box-shadow)!important;
    background-image: url('../img/logo.png');
    background-size: cover;

}

/* .container-group-sobre {
    font-size: 18px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: baseline;
	align-content: stretch;
}

.card .data, .horario, .pay {
    font-size: 18px;
    color: var(--color-black);
    margin: 0;
} */

.normal-text {
    font-size: 14px;
    color: var(--color-text);
}
.normal-text b{
    font-size: 14px;
    color: var(--color-black);
}

.btn-full {
    font-size: 18px;
    font-weight: bold;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 10px;
    width: calc(100% - 20px);
    max-width: 800px;
    margin: 0 auto;
    border-radius: 20px;
    padding: 15px 25px;
    box-shadow: var(--box-shadow)!important;
    border: 1px solid #ffe28c;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.btn-full.voltar {
justify-content: center;}


/* Carrinho */
.bg-top.pedido {
    height: 180px;
}


.container-detalhes {
    display: flex;   
}

.carrinho .detalhes-produto {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carrinho .infos-produto {
    flex: 1;
    flex-direction: row; /*Colocar um ao lado do outro*/
    justify-content: space-between; /* Put on the sides*/
    
}

.carrinho .infos-produto .name {
    font-size: 16px;
    
}
.carrinho .infos-produto .price {
    font-size: 14px;
    color: var(--color-black);
}
.carrinho .infos-produto .name-opcional, 
.carrinho .infos-produto .price-opcional,
.carrinho .infos-produto .obs-opcional {
    font-size: 14px;
    color: var(--color-text);
    margin-left: 10px;
}

.carrinho.infos-produto.obs-opcional {
    margin-right: 75px;
}

.detalhes-produtos-edit {
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--color-primary);
    cursor: pointer;
}

.carrinho .infos-produto .name-total {
    font-size: 18px;
    color: var(--color-black);
}

.carrinho .infos-produto .price-total {
    font-size: 18px;
    color: var(--color-primary);
}

.card-total {
    border-radius: 20px;
    padding: 15px 20px 0px 20px;
    font-size: 20px;
    box-shadow: var(--box-shadow) !important;
    border: none !important;
}

.card-select {
    cursor: pointer;
    border: 2px dashed var(--color-primary)!important;
    border-radius: 20px;
    padding: 15x 20px;
    
}

.color-primary {
    color: var(--color-primary);
}

.card-address {
    cursor: pointer;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}

.img-icon-details {
    width: 50px;
    height: 50px;
    background-color: var(--color-secondary);
    color: var(--color-black);
    font-size: 22px;
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center
}
.card-address .infos {
    flex: 1;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;

}

.card-address .infos .name {
    color: var(--color-black);   
}

.icon-edit {
    font-size: 16px;
    color:var(--color-primary);
}

/* Acompanhar pedido pedido.html*/

.card-status-pedido {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
}

.card-status-pedido .infos {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
}

.card-status-pedido .infos .name {
    color: var(--color-black);
}

.detalhes-produto {
    flex: 1;
    padding-left: 5px;
}

.detalhes-produto-acoes {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    padding: 5px 15px;
    border-right:  1px solid var(--color-separate);
    color: var(--color-black);
}

.detalhes-produto-acoes:last-child {
    border: none;
}

.detalhes-produto-acoes i {
    font-size: 18px;
}

.pedido .name-total {
    font-size: 18px;
    color: var(--color-black);
}

.pedido .price-total {
    font-size: 18px;
    color: var(--color-primary);
}

.card-status-pedido.active {
    background-color: var(--color-green);
}

.card-status-pedido.pending {
    background-color: var(--color-separate);
    opacity: 0.5;
}

.card-status-pedido.pending .img-icon-details {
    width: 30px;
    height: 30px;
    font-size: 14px;
    border-radius: 8px;   
}

.card-status-pedido.cencelado .img-icon-details{
    background-color: var(--color-red);
    color: var(--color-white);
}